:root {
    --primary: black;
    --secondary: rgb(32, 32, 32);
    --active-secondary: rgb(136, 136, 136);
    --text: white;
}
body {
    position: relative;
    margin: 0;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    color: var(--text);
    align-items: center;
    font-family: "Ubuntu";
}
header {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.row-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    align-self: stretch;
    width: 100%;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
ul {
    padding-left: 20px;
}
li {
    margin: 10px 0;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.specialText {
    font-weight:bold;
    font-style: italic;
}
.listOfCharacters {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 48vw;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    
}
.character {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--secondary);
    box-sizing: border-box;
}
span {
    display: inline;
}
.characterName {
    width: 17%;
}
.newCharacterName {
    width: 100%;
    font-size: inherit;
    padding: 10px;
    border: 1px solid white;
    word-wrap: normal;
    box-sizing: border-box;
}
.characterHealth {
    width: 12%;
}
.inline-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.big-text {
    background-color: var(--secondary);
    padding: 5px;
    box-sizing: border-box;
    font-size: 32px;
    display: flex;
    align-items: center;
}
.redBtn {
    background-color: rgb(152, 40, 40);
}
.greenBtn {
    background-color: rgb(43, 86, 43);
}
select, button, input, .checkboxInput, textarea, .secondary-btn {
    padding: 10px;
    background-color: var(--secondary);   
    color: var(--text);
    border: 0;
    resize: none;
    font-family: inherit;
}
.select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-size:smaller;
}
.options {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    grid-template-columns: 8vw 8vw 8vw;
    grid-auto-rows: 1fr;
    max-height: 35vh;
    translate: 100px 90px;
}
.options .option {
    text-align: center;
    align-content: center;
    padding: 10px;
    border: 1px solid white;
    background-color: var(--secondary);
    font-size: medium;
}
.checkboxInput {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}
input[type=number].no-spinner::-webkit-inner-spin-button, input[type=number].no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    width: 25px;
    border: 1px solid var(--text);
    -moz-appearance: textfield;
    appearance: textfield;
}
.deleteBtn, .inactiveDeleteBtn {
    cursor: pointer;
    padding: 10px;
    scale: 1.7;
    background-color: transparent;
}
.inactiveDeleteBtn {
    filter: brightness(0.25);
    cursor: default;
}
button img {
    pointer-events: none;
}
table, td, th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}
#moreInfoPanel {
    box-sizing: border-box;
    width: 48vw;
    height: 88vh;
    overflow-y: auto;
    background-color: var(--secondary);
    padding: 20px;
}
#moreInfoPanel blockquote {
    margin: 0;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
a * {
    height: 100%;
}
.vl {
    width: 2px;
    background-color: white;
}