body {
    display: flex;
    justify-content: left;
}

header {
    gap: 10px;
}

.monster-result {
    background-color: var(--secondary);
    width: 50vw;
}

.monster {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.monster:not(.monster:last-child) {
    border-bottom: 2px solid var(--third);
}

#matchList {
    width: 33.4%;
    background-color: var(--secondary);
    overflow-y: auto;
    box-sizing: border-box;
}

.moreInfoPanel {
    position: relative;
    box-sizing: border-box;
    width: 66.6%;
    overflow-y: hidden;
    background-color: var(--secondary);
    padding: 20px;
}

#monsterInfo {
    height: 100%;
    overflow-y: auto;
}

.moreInfoPanel blockquote {
    margin: 0;
}

.moreMonsterInfo {
    display: none;
}

.corner-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 5px;
    border-radius: 50%;
}

.corner-btn img {
    height: 35px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100vw;
}